<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273183665199-1p6roumj8e6pmsca5vr1j3ibonstufed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273183665199-1p6roumj8e6pmsca5vr1j3ibonstufed</string>
	<key>API_KEY</key>
	<string>AIzaSyAXVuR1utBgmzdZDD09gjuy-yYUXo4ADNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>273183665199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MNT.BipWallet</string>
	<key>PROJECT_ID</key>
	<string>minter-92ccc</string>
	<key>STORAGE_BUCKET</key>
	<string>minter-92ccc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273183665199:ios:0c68fd6b8877101203eada</string>
	<key>DATABASE_URL</key>
	<string>https://minter-92ccc.firebaseio.com</string>
</dict>
</plist>